# Параметрические критерии

## Задание 1: z-test

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/AcerA3/datasets/Original_data_with_more_rows.csv')

In [2]:
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,MathScore,ReadingScore,WritingScore
0,0,female,group B,bachelor's degree,standard,none,72,72,74
1,1,female,group C,some college,standard,completed,69,90,88
2,2,female,group B,master's degree,standard,none,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,47,57,44
4,4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...,...
30636,995,male,group C,some high school,standard,none,56,47,51
30637,996,male,group E,associate's degree,free/reduced,none,74,75,72
30638,997,male,group C,some college,standard,none,36,29,27
30639,998,male,group A,some high school,free/reduced,completed,43,34,39
30640,999,female,group D,associate's degree,standard,none,52,68,66

#### a) Посчитайте z-test для среднего значения теста по математике у девушек, родители которых закончили бакалавриат. Вес - 0.5

In [3]:
#1 формулирую гипотезу: среднее значение теста по математике у девушек, родители которых закончили бакалавриат = сренему значению по генеральной совокупности, которое составляет 67.5. Стандартное отклонение известно, и составляет 13
# Hо:μ=67.5
# Hа:μ!=67.5

In [4]:
#2. Выбираю уровень значимости и нахожу критическое значение при α=5%
from scipy.stats import norm
from scipy import stats

alpha = 0.05

print(norm.ppf(alpha/2),norm.ppf(1-alpha/2))

-1.9599639845400545 1.959963984540054

In [5]:
#3 Считаю тестовую статистику
from statsmodels.stats.weightstats import ztest as ztest
# Z-тест:
#   выборка
#   value - значение нулевой гипотезы
#   alternative - тип альтернативной гипотезы

result = ztest(df[(df['Gender']=='female') & (df['ParentEduc']=="bachelor's degree")]['MathScore'], value = 67.5, alternative = 'two-sided')

print(f'Z-statistics = {round(result[0],3)}')

Z-statistics = 0.448

In [6]:
# нулевая гипотеза принимается, так как Z-статистика попадает в диапазон от [-Z_кр;Z_кр] 
norm.ppf(alpha/2)<=result[0]<=norm.ppf(1-alpha/2)

# среднее значение теста по математике у девушек, родители которых закончили бакалавриат = сренему значению по генеральной совокупности

True

#### b) Посчитайте p-value для полученного значения z-теста. Значимая ли разница у приведенного выборки и генеральной совокупности? Вес - 0.5

In [7]:
 print(f'p-value = {result[1]}')

p-value = 0.6544739524290177

In [8]:
# p-value равен 0.65 при уровне значимости 0.05. Это означает, что различия между выборкой и генеральной совокупностью не являются значимыми. То есть, можно предположить, что выборочные значения в пределах ошибки могут быть равны генеральным значениям.
result[1]>0.05

True

## Задание 2: одновыборочный t-test

#### 2a) Посчитайте t-test для среднего значения теста по чтению, которые прошли подготовку к тесту. Вес - 0.5

In [9]:
# Мы знаем, что среднее значение для генеральной совокупности - 70. Но в этот раз мы не знаем стандартного отклонения - поэтому используем t-test
# Нулевая гипотеза: среднее значение теста по чтению, для студентов которые прошли подготовку к тесту равно или меньше среднего значения по тесту для генеральной совокупности
# Hо:μ<=70
# Hа:μ>70

result = stats.ttest_1samp(a=df[df['TestPrep']=='completed']['ReadingScore'], popmean=70, alternative='greater')
result

Ttest_1sampResult(statistic=28.862005279791358, pvalue=1.1026838828639981e-176)

In [10]:
# проверим, входит ли t-статистика в диапазон от [-Z_кр;Z_кр] 
norm.ppf(alpha/2)<=result[0]<=norm.ppf(1-alpha/2)

# Нет, не входит, значит отвергаем нулевую гипотезу

False

#### 2b) Посчитайте p-value для получившегося значения и ответьте на вопрос - "Улучшает ли подгтовка к тесту его результат?". Вес - 0.5

In [11]:
result[1]>0.05

False

In [12]:
# P-value ниже 0.05, что свидетельствует о том, что мы отвергаем нулевую гипотезу в пользу альтернативной, которая говорит о том, что среднее значение теста по чтению, для студентов которые прошли подготовку к тесту больше среднего значения по тесту для генеральной совокупности
# Следовательно, подготовка к тесту улучшает его результат

## Задание 3: парный t-test

In [13]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/AcerA3/datasets/Islander_data.csv')

In [14]:
df

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1
...,...,...,...,...,...,...,...,...,...
193,Jacob,Novak,52,H,3,T,71.3,74.3,3.0
194,Teo,Steiner,41,S,3,T,72.5,70.4,-2.1
195,Alexander,Takahashi,54,S,3,T,30.8,33.1,2.3
196,Alexandere,Takahashi,40,H,3,T,53.6,53.8,0.2
197,Chloe,Takahashi,32,S,3,T,43.1,42.1,-1.0

#### 3a) Посчитайте, какие бывают типы препаратов и в каком объеме они представлены в данных. Вес - 0.25

In [15]:
# всего три вида препаратов : 'A', 'S', 'T'

df['Drug'].unique()

array(['A', 'S', 'T'], dtype=object)

In [16]:
# в большем количестве присутствует препарат 'A', далее идет препарат 'S', а за ним следует препарат 'T'

df['Drug'].value_counts()

A    67
S    66
T    65
Name: Drug, dtype: int64

#### 3b) Посчитатайте значение парного t-теста для изменение результата теста на память для каждого из видов препарата Вес - 0.75

In [17]:
# Для препарата А: a -  значение до проведения теста на память, b -  значение после проведения теста на память

a = df[df['Drug']=='A']['Mem_Score_Before']
b = df[df['Drug']=='A']['Mem_Score_After']

# H0: Средние значения результатов теста до и после применения препарата равны.
# H1: Среднее значение результатов теста после применения препарата значимо различается от среднего значения результатов до применения препарата.

In [18]:
# Выборки связаны, поэтому используем парный ttest

from scipy.stats import ttest_rel
resultA = stats.ttest_rel(a, b)
resultA

Ttest_relResult(statistic=-5.8485679397308425, pvalue=1.6898179935298675e-07)

In [19]:
# проверим, входит ли t-статистика в диапазон от [-Z_кр;Z_кр] 
norm.ppf(alpha/2)<=resultA[0]<=norm.ppf(1-alpha/2)

# Нет, не входит, значит отвергаем нулевую гипотезу

False

In [20]:
# Для препарата S: a -  значение до проведения теста на память, b -  значение после проведения теста на память

a = df[df['Drug']=='S']['Mem_Score_Before']
b = df[df['Drug']=='S']['Mem_Score_After']

# H0: Средние значения результатов теста до и после применения препарата равны.
# H1: Среднее значение результатов теста после применения препарата значимо различается от среднего значения результатов до применения препарата.

In [21]:
from scipy.stats import ttest_rel
resultS = stats.ttest_rel(a, b)
resultS

Ttest_relResult(statistic=0.1854597408842658, pvalue=0.8534459675334038)

In [22]:
# проверим, входит ли t-статистика в диапазон от [-Z_кр;Z_кр] 
norm.ppf(alpha/2)<=resultS[0]<=norm.ppf(1-alpha/2)

# Да, входит, значит принимаем нулевую гипотезу

True

In [23]:
# Для препарата T: a -  значение до проведения теста на память, b -  значение после проведения теста на память

a = df[df['Drug']=='T']['Mem_Score_Before']
b = df[df['Drug']=='T']['Mem_Score_After']

# H0: Средние значения результатов теста до и после применения препарата равны.
# H1: Среднее значение результатов теста после применения препарата значимо различается от среднего значения результатов до применения препарата.

In [24]:
from scipy.stats import ttest_rel
resultT = stats.ttest_rel(a, b)
resultT

Ttest_relResult(statistic=0.6669171283034249, pvalue=0.5072224471243232)

In [25]:
# проверим, входит ли t-статистика в диапазон от [-Z_кр;Z_кр] 
norm.ppf(alpha/2)<=resultT[0]<=norm.ppf(1-alpha/2)

# Да, входит, значит принимаем нулевую гипотезу

True

#### 3c) Получите p-value для каждого из полученных значений t-теста. Какие препараты влияют на память, а какие нет? Вес - 0.75

In [26]:
# Для препарата А:
print(f'p-value = {resultA[1]}')

p-value = 1.6898179935298675e-07

In [27]:
# cравним p-value с уровнем значимости

resultA[1] > 0.05

# Так как P-value меньше 0,05, принимаем альтернативную гипотезу о том, что среднее значение результатов теста после применения препарата значимо различается от среднего значения результатов до применения препарата.
# Следовательно, препарат A влияет на память

False

In [28]:
# Для препарата S:
print(f'p-value = {resultS[1]}')

p-value = 0.8534459675334038

In [29]:
# cравним p-value с уровнем значимости

resultS[1] > 0.05

# Так как P-value больше 0,05, принимаем нулевую гипотезу о том, что средние значения результатов теста до и после применения препарата равны.
# Следовательно, препарат S не влияет на память

True

In [30]:
# Для препарата T:
print(f'p-value = {resultT[1]}')

p-value = 0.5072224471243232

In [31]:
# cравним p-value с уровнем значимости

resultT[1]> 0.05

# Так как P-value больше 0,05, принимаем нулевую гипотезу о том, что средние значения результатов теста до и после применения препарата равны.
# Следовательно, препарат T не влияет на память

True

## Задание 4: двухвыборочный t-test

In [32]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/AcerA3/datasets/cookie_cats.csv')

In [33]:
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3        False        False
1          337  gate_30              38         True        False
2          377  gate_40             165         True        False
3          483  gate_40               1        False        False
4          488  gate_40             179         True         True
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97         True        False
90185  9999479  gate_40              30        False        False
90186  9999710  gate_30              28         True        False
90187  9999768  gate_40              51         True        False
90188  9999861  gate_40              16        False        False

[90189 rows x 5 columns]

#### 4a) Замените в колонках retention_1 и retention_7 значения True на 1, а знаечния False на 0. Вес - 0.25

In [34]:
df['retention_1']=df['retention_1'].apply(lambda x: 1 if x == True else 0)

In [35]:
df['retention_7']=df['retention_7'].apply(lambda x: 1 if x == True else 0)

In [36]:
df

        userid  version  sum_gamerounds  retention_1  retention_7
0          116  gate_30               3            0            0
1          337  gate_30              38            1            0
2          377  gate_40             165            1            0
3          483  gate_40               1            0            0
4          488  gate_40             179            1            1
...        ...      ...             ...          ...          ...
90184  9999441  gate_40              97            1            0
90185  9999479  gate_40              30            0            0
90186  9999710  gate_30              28            1            0
90187  9999768  gate_40              51            1            0
90188  9999861  gate_40              16            0            0

[90189 rows x 5 columns]

#### 4b) Посчитайте среднее по двум группам для каждой из переменных sun_gamerounds, retention_1, retention_7. Вес - 0.5

In [37]:
df.groupby('version')['sum_gamerounds'].mean()

version
gate_30    52.456264
gate_40    51.298776
Name: sum_gamerounds, dtype: float64

In [38]:
df.groupby('version')['retention_1'].mean()

version
gate_30    0.448188
gate_40    0.442283
Name: retention_1, dtype: float64

In [39]:
df.groupby('version')['retention_7'].mean()

version
gate_30    0.190201
gate_40    0.182000
Name: retention_7, dtype: float64

#### 4с) Посчитайте двухвыборочный t-test для каждой из переменных выше.

In [40]:
# Для переменной sum_gamerounds
# H0: Среднее значение сыгранных раундов среди игроков, которые попадли к воротам на 30 уровне равно среднему значению сыгранных раундов среди игроков, которые попадают к воротам на 40 уровне.
# H1: Среднее значение сыгранных раундов среди игроков, которые попадли к воротам на 30 уровне не равно среднему значению сыгранных раундов среди игроков, которые попадают к воротам на 40 уровне.
resultS = stats.ttest_ind(df[df['version']=='gate_30']['sum_gamerounds'], df[df['version']=='gate_40']['sum_gamerounds'], equal_var=False)
resultS

# t-статистика входит в доверительный интервал при уровне значимости 0,05, следовательно, принимаем нулевую гипотезу

Ttest_indResult(statistic=0.8854374331270672, pvalue=0.37592438409326223)

In [41]:
# Для переменной retention_1
# H0: В среднем количество игроков возвращающихся в игру спустя один день после скачивания с 30 уровня равно среднему количеству игроков возвращающихся в игру спустя один день после скачивания с 40 уровня.
# H1: В среднем количество игроков возвращающихся в игру спустя один день после скачивания с 30 уровня не равно среднему количеству игроков возвращающихся в игру спустя один день после скачивания с 40 уровня.
result1 = stats.ttest_ind(df[df['version']=='gate_30']['retention_1'], df[df['version']=='gate_40']['retention_1'], equal_var=False)
result1

# t-статистика входит в доверительный интервал при уровне значимости 0,05, следовательно, принимаем нулевую гипотезу

Ttest_indResult(statistic=1.7840774867039824, pvalue=0.07441443713953834)

In [42]:
# Для переменной retention_7
# H0: В среднем количество игроков возвращающихся в игру спустя семь дней после скачивания с 30 уровня равно среднему количеству игроков возвращающихся в игру спустя семь дней после скачивания с 40 уровня.
# H1: В среднем количество игроков возвращающихся в игру спустя семь дней после скачивания с 30 уровня не равно среднему количеству игроков возвращающихся в игру спустя семь дней после скачивания с 40 уровня.
result7 = stats.ttest_ind(df[df['version']=='gate_30']['retention_7'], df[df['version']=='gate_40']['retention_7'], equal_var=False)
result7

# t-статистика не входит в доверительный интервал при уровне значимости 0,05, следовательно, опровергаем нулевую гипотезу

Ttest_indResult(statistic=3.164028946774232, pvalue=0.001556530181006652)

#### 4d) Посчитайте p-value для полученных значений t-теста. Как новое изменение влияет на пользователей?

In [43]:
# Для переменной sum_gamerounds

In [44]:
# cравним p-value с уровнем значимости

resultS[1]> 0.05

# Так как P-value больше 0,05, принимаем нулевую гипотезу о том, что среднее значение сыгранных раундов среди игроков, которые попадли к воротам на 30 уровне равно среднему значению сыгранных раундов среди игроков, которые попадают к воротам на 40 уровне.
# Следовательно, изменение никак не отражается на количестве сыгранных раунов  в течение 14 дней

True

In [45]:
# Для переменной retention_1

In [46]:
# cравним p-value с уровнем значимости

result1[1]> 0.05

# Так как P-value больше 0,05, принимаем нулевую гипотезу о том, что В среднем количество игроков возвращающихся в игру спустя один день после скачивания с 30 уровня равно среднему количеству игроков возвращающихся в игру спустя один день после скачивания с 40 уровня.
# Следовательно, изменение никак не отражается на количестве игроков, возвращающихся в игру спустя один день

True

In [47]:
# Для переменной retention_7

In [48]:
# cравним p-value с уровнем значимости

result7[1]> 0.05

# Так как P-value меньше 0,05, принимаем нулевую гипотезу о том, что в среднем количество игроков возвращающихся в игру спустя семь дней после скачивания с 30 уровня не равно среднему количеству игроков возвращающихся в игру спустя семь дней после скачивания с 40 уровня.
# Следовательно, изменение уменьшило среднее количество игроков, возвращающихся в игру спустя 7 дней.

False

# Непараметрические критерии

## Задание 5: Критерий согласия хи-квадрат

In [49]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/AcerA3/datasets/Food_Preference.csv')

#### 5a) Посчитайте, какие есть национальности и в каком количестве. А также какие есть возможные варианты предпочтений в еде.

In [50]:
df

,Timestamp,Participant_ID,Gender,Nationality,Age,Food,Juice,Dessert
0,2019/05/07 2:59:13 PM GMT+8,FPS001,Male,Indian,24,Traditional food,Fresh Juice,Maybe
1,2019/05/07 2:59:45 PM GMT+8,FPS002,Female,Indian,22,Western Food,Carbonated drinks,Yes
2,2019/05/07 3:00:05 PM GMT+8,FPS003,Male,Indian,31,Western Food,Fresh Juice,Maybe
3,2019/05/07 3:00:11 PM GMT+8,FPS004,Female,Indian,25,Traditional food,Fresh Juice,Maybe
4,2019/05/07 3:02:50 PM GMT+8,FPS005,Male,Indian,27,Traditional food,Fresh Juice,Maybe
...,...,...,...,...,...,...,...,...
283,2019/05/10 9:24:00 AM GMT+8,FPS284,Male,Indian,27,Western Food,Fresh Juice,Yes
284,2019/05/10 9:32:54 AM GMT+8,FPS285,Male,Indian,24,Traditional food,Fresh Juice,Yes
285,2019/05/10 12:09:17 PM GMT+8,FPS286,Male,Indian,25,Traditional food,Fresh Juice,Yes
286,2019/05/10 12:52:17 PM GMT+8,FPS287,Male,Indian,27,Traditional food,Fresh Juice,Yes
287,2019/05/10 12:55:42 PM GMT+8,FPS288,Male,Indian,27,Traditional food,Fresh Juice,No

In [51]:
# Все национальности представлены в следующей частотной таблице. Наиболее встречаемая национальность - индийцы
df['Nationality'].value_counts()

Indian         241
Malaysian       10
Indonesia        7
Pakistani        3
Japan            2
MY               2
Maldivian        2
Pakistani        2
Algerian         1
Mauritian        1
China            1
Malaysia         1
Indonesian       1
Indonesain       1
Seychellois      1
Korean           1
Malaysia         1
Nigerian         1
Canadian         1
MALAYSIAN        1
Indonesian       1
Malaysian        1
Maldivian        1
Pakistan         1
Muslim           1
Tanzanian        1
Yemen            1
Name: Nationality, dtype: int64

In [52]:
# Всего имеется два предпочтения в еде
df['Food'].unique()

array(['Traditional food', 'Western Food'], dtype=object)

#### 5b) Выберите самую частую национальность. Используйте критерий согласия хи-квадрат чтобы ответить на вопрос: "Одинаково ли эта национальность любит все типы еды?". Вес - 1 балл

In [53]:
# Найдем частоты блюд традиционной кухни, препочитаемые индийцами
df[(df['Nationality']=='Indian') & (df['Food']=='Traditional food')].shape[0]

204

In [54]:
# Найдем частоты блюд западной кухни, препочитаемые индийцами
df[(df['Nationality']=='Indian') & (df['Food']=='Western Food')].shape[0]

37

In [55]:
# Создадим таблицу с фактическими и ожидаемыми частотами
dr = pd.DataFrame()
dr.index = ["Traditional food", "Western Food"]
dr['quantity']=[204, 37]
dr['exp_prob']=[0.5, 0.5]
dr['exp']=241*dr['exp_prob']
dr['obs']=dr['quantity']
dr

                  quantity  exp_prob    exp  obs
Traditional food       204       0.5  120.5  204
Western Food            37       0.5  120.5   37

In [73]:
# С помощью Xu- квадрата проверяю гипотезу о согласованности частот с теоретическими вероятностями (равные доли: 0,5 и 0,5)

from scipy import stats
stats.chisquare(dr['obs'], dr['exp'], ddof=1)

# Итак, получаю статистику выходящую за пределы критического значения 3,84 (при ddof=1) значит, гипотеза о согласованности частот с теоретическими вероянтостями отвергается.
# Следовательно, нет, индийцы неодинаково любят традиционную и западную кухню. В большей степени предпочитают традиционную.

Power_divergenceResult(statistic=115.72199170124482, pvalue=nan)

## Задание 6: Критерий независимости хи-квадрат

#### 6a) Используйте критерий независимости хи-квадрат, чтобы для той же национальности ответить на вопрос: "Одинаковые ли вкусовые предпочтения по еде у мужчин и женщин?". Вес - 1.5 балла

In [57]:
# Найдем частоты блюд западной кухни, препочитаемые индийцами-мужчинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Male') & (df['Food']=='Western Food')].shape[0]

20

In [58]:
# Найдем частоты блюд западной кухни, препочитаемые индийцами-женщинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Female') & (df['Food']=='Western Food')].shape[0]

17

In [59]:
# Найдем частоты блюд традиционной кухни, препочитаемые индийцами-мужчинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Male') & (df['Food']=='Traditional food')].shape[0]

69

In [60]:
# Найдем частоты блюд западной кухни, препочитаемые индийцами-женщинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Female') & (df['Food']=='Traditional food')].shape[0]

132

In [61]:
# Создадим таблицу с фактическими частотами
s = pd.DataFrame()
s.index = ["Men", "Women"]
s['Traditional Food']= [69, 132]
s['Western Food']=[20, 17]
s

       Traditional Food  Western Food
Men                  69            20
Women               132            17

In [62]:
#H0: В генеральной совокупности не существует зависимости между полом и предпочитаемой едой.
#H1: В генеральной совокупности существует зависимость между полом и предпочитаемой едой.
result = stats.chi2_contingency(s, correction=False)
result

(5.193535782771191,
 0.022671046244708618,
 1,
 array([[ 75.16386555,  13.83613445],
        [125.83613445,  23.16386555]]))

In [63]:
# посмотрела в таблице критическое значение на уровне значимости 0,05 и ddof = (2-1)*(2-1) = 1
critical_value = 3.84

# статистика Хи квадрат входит в критическую область, соответственно, опровергаем нулевую гипотезу об отсутствии зависимости между признаками пол и предпочтение в кухне
# следовательно, можно сделать вывод о том что вкусовые предпочтения в пропорциональном соотношении разные и обусловлены половым признаком. Однако оба пола в большей степени любят традиционную кухню

#### 6b) Теперь поймите, есть ли различия в предпочтениях в дессертах у мужчин и женщин той же национальности. Также используйте хи-квадрат. Вес - 1.5 балла

In [64]:
df

,Timestamp,Participant_ID,Gender,Nationality,Age,Food,Juice,Dessert
0,2019/05/07 2:59:13 PM GMT+8,FPS001,Male,Indian,24,Traditional food,Fresh Juice,Maybe
1,2019/05/07 2:59:45 PM GMT+8,FPS002,Female,Indian,22,Western Food,Carbonated drinks,Yes
2,2019/05/07 3:00:05 PM GMT+8,FPS003,Male,Indian,31,Western Food,Fresh Juice,Maybe
3,2019/05/07 3:00:11 PM GMT+8,FPS004,Female,Indian,25,Traditional food,Fresh Juice,Maybe
4,2019/05/07 3:02:50 PM GMT+8,FPS005,Male,Indian,27,Traditional food,Fresh Juice,Maybe
...,...,...,...,...,...,...,...,...
283,2019/05/10 9:24:00 AM GMT+8,FPS284,Male,Indian,27,Western Food,Fresh Juice,Yes
284,2019/05/10 9:32:54 AM GMT+8,FPS285,Male,Indian,24,Traditional food,Fresh Juice,Yes
285,2019/05/10 12:09:17 PM GMT+8,FPS286,Male,Indian,25,Traditional food,Fresh Juice,Yes
286,2019/05/10 12:52:17 PM GMT+8,FPS287,Male,Indian,27,Traditional food,Fresh Juice,Yes
287,2019/05/10 12:55:42 PM GMT+8,FPS288,Male,Indian,27,Traditional food,Fresh Juice,No

In [65]:
# Нахожу частоты ответа Yes в колонке Dessert, препочитаемые индусами-мужчинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Male') & (df['Dessert']=='Yes')].shape[0]

39

In [66]:
# Нахожу частоты ответа No в колонке Dessert, препочитаемые индусами-мужчинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Male') & (df['Dessert']=='No')].shape[0]

13

In [67]:
# Нахожу частоты ответа Maybe в колонке Dessert, препочитаемые индусами-мужчинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Male') & (df['Dessert']=='Maybe')].shape[0]

37

In [68]:
# Нахожу частоты ответа Yes в колонке Dessert, препочитаемые индусами-женщинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Female') & (df['Dessert']=='Yes')].shape[0]

49

In [69]:
# Нахожу частоты ответа No в колонке Dessert, препочитаемые индусами-женщинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Female') & (df['Dessert']=='No')].shape[0]

34

In [70]:
# Нахожу частоты ответа Maybe в колонке Dessert, препочитаемые индусами-женщинами
df[(df['Nationality']=='Indian') & (df['Gender']=='Female') & (df['Dessert']=='Maybe')].shape[0]

66

In [71]:
# Создаю частотную таблицу
b = pd.DataFrame()
b.index = ["Men", "Women"]
b['Yes']=[39, 49]
b['No']=[13, 34]
b['Maybe']=[37, 66]
b

       Yes  No  Maybe
Men     39  13     37
Women   49  34     66

In [72]:
result = stats.chi2_contingency(b, correction=False)
result

(3.7998385931571983,
 0.14958069040902697,
 2,
 array([[32.90756303, 17.57563025, 38.51680672],
        [55.09243697, 29.42436975, 64.48319328]]))

In [ ]:
# посмотрела в таблице критическое значение на уровне значимости 0,05 и ddof = (2-1)*(3-1) = 2
critical_value = 5.99

# статистика Хи квадрат входит в критическую область, соответственно, опровергаем нулевую зависимость об отсутствии взаимосвязи между признаками пол и ответ на вопрос "любите ли вы десерт"
# Ответ: различия в предпочтениях в дессертах у мужчин и женщин - индийцев имеются и эти различия обусловлены зависимостью между признаками пол и ответ на вопрос "любите ли вы десерт"